*, *::after, *::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}
.app__wrapper{
    width: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}
.section__title{
    grid-area: title;
    text-align: center;
    font-size: 40px;
    line-height: 60px;
    font-weight: 300;
    margin: 20px 0;
    color: #3a3a3a;
    @include resp(1290){
        margin: 20px 0 0;
    }
    @include resp(1260){
        font-size: 30px;
        line-height: 50px;
        margin: 0;
        align-self: center;
    }
    @include resp(490){
        font-size: 24px;
        line-height: 34px;
    }
    @include resp(330){
        font-size: 18px;
        line-height: 18px;
    }
    &-white{
        color: #ffffff;
        margin: 0;
        align-self: flex-end;
        
        @include resp(860){
            font-size: 35px;
        }
        @include resp(760){
            font-size: 30px;
        }
        @include resp(600){
            font-size: 24px;
            line-height: 34px;
        }
        @include resp(330){
            font-size: 18px;
            line-height: 28px;
        }
    }
}
.error{
    &__page{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: var(--header-height);
        height: calc(100vh - (var(--header-height) + var(--footer-height)));
        &-img{
            margin: auto 0;
            @include resp(1260){
                max-width: 200px;
            }
        }
        &-title{
            position: absolute;
            top: 75%;
            transform: translate(0%, -75%);
            color: #ff0000;
            @include resp(1290){
                top: 85%;
                transform: translate(0%, -85%);
            }
            @include resp(1260){
                top: 77%;
                transform: translate(0%, -77%);
                font-size: 16px;
                line-height: 16px;
            }
        }
    }
}
