.slider__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: calc(100vh - (var(--footer-height) ));
    -webkit-clip-path: polygon(0 15%, 70% 0, 100% 15%, 100% 85%, 30% 100%, 0 85%);
    clip-path: polygon(0 15%, 70% 0, 100% 15%, 100% 85%, 30% 100%, 0 85%);
    background-image: url(./img/скетч.jpg);
    z-index: 1;
    background-position: 50% 50%;
    background-size: cover;
    @include resp(490){
        margin-top: var(--header-height);
        height: calc(100vh - (var(--footer-height) + var(--header-height)));
    }
    @include resp(330){
        margin-top: 0;
        height: calc(100vh - (var(--footer-height)));
    }
    &::before {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0; 
        background-position: 50% 50%;
        background-size: cover;
        transition: all .6s;
        background-color: rgba(255, 255, 255, .9);
    }
    &-container {
        display: flex;
        width: 100%;
        @include resp(490){
            margin-top: 10px;
        }
    }
    &-item {
        flex: 1 0 100%;
        position: relative;
    }
}

.prev__btn,
.next__btn {
    position: absolute;
    top: 50%;
    transform: translate(-2%, -50%);
    color: #7a7a7a;
    font-size: 32px;
    line-height: 32px;
    cursor: pointer;
    &:hover{
        color: #5f5f5f;
    }
    
}

.next__btn {
    right: 2%;
}

.prev__btn {
    left: 2%;
}

.title-slider {
    @include resp(690){
        width: 100%;
    }
    @include resp(330){
        // margin-bottom: 10px;
    }
}